body {

    background-color: #4ec8c0;
    text-align: center;
    background-image: url('https://www.teahub.io/photos/full/17-171442_airplane-desktop-wallpaper-data-src-airplane-wallpapers-transparent.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.navbar {
    background-color: #280707;
}

a {
    color: #43fafa;
}

a:hover {
    color: #b96f6f;
  }

footer{
    color: #280707;
}